body {
    background-color: #fefae0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form {
    max-width: 450px;
    text-align: center;
    margin: 2.5rem;
    border: solid black 3px;
    background-color: azure;
}

#choose{
    background-color: #e9edc9;
}

#choose option{
    background-color: #d4a373;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #252525;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .form {
        border: solid #ff006e 2px;
        background-color: transparent;
    }
}